@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-primary);
}

@theme {
  --color-primary: #f1f1f2;
  --color-blue: #2884ef;

  --breakpoint-xs: 35rem;
}

.container {
  @apply mx-auto max-w-[1300px];
}
